{% extends 'base.html.twig' %}

{% block body %}
	{% if error %}
		<div class="alert alert-danger my-2" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
{% endblock %}

{% block header_img %}
	<div class="position-relative">
		{{ parent() }}
		<div class="position-absolute top-50 start-50 translate-middle bg-white p-2">

			<form action="{{ path('login_check') }}" method="post">
				<div class="d-md-flex justify-content-between m-1">
					<label for="username">Nom d'utilisateur :</label>
					<input class="ms-1" type="text" id="username" name="_username" value="{{ last_username }}"/>
				</div>
				<div class="d-md-flex justify-content-between m-1">
					<label for="password">Mot de passe :</label>
					<input class="ms-1" type="password" id="password" name="_password"/>
				</div>
				<div class="d-md-flex justify-content-end m-1">
					<button class="btn btn-success" type="submit">Se connecter</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
